h1{
    font-family: 'Trebuchet MS'
}

h2{
    font-family: 'Trebuchet MS';
}

p, span{
    font-size: 20px;
}

.embedvids{
    color: rgb(221, 15, 8);
    font-family: monospace;
    font-size: 17px;
}

dt, dd, li{
font-size: 18px;
}

dt{
    font-family:'Times New Roman';
}

