@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&family=Poppins&display=swap");

/* Headings - font-family: 'Noto Serif KR', serif; */
/* Texts - font-family: 'Poppins', sans-serif; */

:root {
  --heading-font: "Noto Serif KR", serif;
  --text-font: "Poppins", sans-serif;
}

* {
  margin-left: 4px;
}

::selection {
  color: aqua;
  background-color: rgb(84, 152, 255);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: rgb(121, 156, 148);
  color: white;
  border-radius: 10px;
  font-family: var(--heading-font);
}

header h1 {
  margin-right: auto;
}

header nav ul {
  display: flex;
  margin-top: 30px;
  margin-right: auto;
}

nav ul li {
  list-style: none;
  display: flex;
  padding: 5px;
  font-family: var(--heading-font);
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h2,
h4 {
    font-family: var(--heading-font);
}



p{
    font-family: var(--text-font);
}