@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&family=Poppins&display=swap");

/* For headings - font-family: 'Noto Serif KR', serif; */
/* For texts - font-family: 'Poppins', sans-serif; */

:root {
  --left-margin: 8px;
  --heading-font: "Poppins", sans-serif;
}

@media screen and (min-width: 340px) and (max-width: 470px) {
  header {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 400px;
    height: 250px;
    margin: auto;
  }
}

body {
  background-image: url(Medias/home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px;
}

a{
  color: #1fffdddb;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
  margin-top: 40px;
  margin-bottom: 80px;
}

header > img {
  --header-margin: 15px;
  margin-left: var(--header-margin);
}

h1 {
  font-family: "Noto Serif KR", serif;
  margin-left: 520px;
}

ul {
  display: flex;
  margin-left: 350px;
}

ul li {
  list-style: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  padding-top: 8px;
}

#start {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

h2 {
  font-family: var(--heading-font);
}

h4 {
  font-size: 18px;
  font-family: var(--heading-font);
  margin-bottom: -10px;
  text-decoration: underline;
  text-decoration-thickness: 3.4px;
  text-decoration-color: #1fffdddb;
  text-decoration-skip-ink: auto;
  text-underline-offset: 4px;
}

p {
  font-family: "Noto Serif KR", serif;
}

.embedvid {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.more {
  font-size: 19px;
}

.more li {
  list-style-type: square;
}

footer {
  margin-top: 50px;
}
